.App {
  text-align: center;
}
.AppTitle {
  color: rgb(92, 84, 84);
  text-align: center;
  padding-top: 2rem;
 
}
body{background-color:rgb(216, 212, 209);}
.movie-list {
  color: rgb(200, 213, 214);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
  margin-bottom: 50px;
}




